
/* html{ */
/* 	background-color:#2F2F2F; */
/* } */

/* body, #mainWrapper { */
/* 	height: 100%; */
/* 	background-image: -webkit-gradient( */
/* 	linear, */
/* 	right bottom, */
/* 	right top, */
/* 	color-stop(0, #EDEDED), */
/* 	color-stop(0.08, #EAEAEA), */
/* 	color-stop(1, #2F2F2F), */
/* 	color-stop(1, #AAAAAA) */
/* ); */
/* background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%); */
/* background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%); */
/* background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%); */
/* background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%); */
/* background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%); */
/* } */

/* body, #mainWrapper, .form-control{ */
/* 	font-size:12px!important; */
/* } */

#mainWrapper {
	height: 100vh; 
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

#authHeaderWrapper{
	clear:both;
	width: 100%;
	height:3%;
	padding-top:5px;
	padding-bottom:5px;
}

.login-container {
/*     margin-top: 50px; */
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}
