* {
	margin: 0px;
	padding: 0px;
	border: none;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBF9EF;
	padding: 0px 6%;
}

#container {
	flex: 1;
	float: left;
}

#header {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
}

#header h1 {
	font-size: 18px;
	float: left;
	background: url(/MvcMusicStore_SpringBoot/images/logo.png) no-repeat;
	padding: 45px 0px 5px 0px;
}

#welcome {
	position: absolute;
	top: 85px;
	right: 100px;
	float: right;
}

#promotion {
	position: relative;
	left: 150px;
	height: 300px;
	width: 900px;
	background: url(/MvcMusicStore_SpringBoot/images/home-showcase.png) no-repeat;
}

ul li a {
	font-size: 16px;
}

#main {
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
	width: 100%;
	flex: 1;
}

ul {
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#album-list {
	list-style: none;
	margin-left: 0px;
}

ul#album-list li {
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button {
	font-size: 13px;
	float: left;
}

ul#album-list li a span {
	color: #9b9993;
	text-decoration: underline;
}

#cart {
	float: right;
}

#update-message {
	color: #F6855E;
	font-weight: bold;
}

.button, input[type=submit] {
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px;
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}

.button a {
	color: #fff !important;
}

#footer {
	clear: both;
	padding: 10px;
	text-align: right;
	border-top: 1px dotted #8A8575;
	border-bottom: 1px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
}

/******************** Top Navigation ************************/
ul#navlist {
	float: right;
}

ul#navlist li {
	display: inline;
}

ul#navlist li a {
	border-left: 1px dotted #8A8575;
	padding: 10px;
	margin-top: 10px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a {
	border: none;
}

ul#navlist li a:hover {
	color: #F6855E;
}

/********************* End top navigation ***************************/
p {
	margin-bottom: 15px;
	margin-top: 0px;
}

h2 {
	color: #5e5b54;
}

h2, h3 {
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

h3 {
	color: #9B9993;
}

#header h1 a, h3 em {
	color: #5E5B54;
}

a:link, a:visited {
	color: #F6855E;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

/***************************** sidebar navigation ****************************/
#categories {
	font-family: Constantia, Georgia, serif;
	list-style-type: none;
	border-right: #5d5a53 1px dotted;
	padding-right: 10px;
	margin: 0 25px 0 0;
	float: left;
}

#categories a:link, #categories a:visited {
	color: #9B9993;
	text-decoration: none;
}

#categories a:hover {
	color: #F46739;
}

div#album-details p {
	margin-bottom: 5px;
	color: #5e5b54;
	font-weight: bold;
}

p em {
	color: #9b9993;
}

/* Form styles */
legend {
	padding: 10px;
	font-weight: bold;
}

fieldset {
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field {
	margin-bottom: 10px;
}

input[type=text], input[type=password], select {
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

#album-cover {
	display: block;
	position: absolute;
	top: 120px;
	left: 460px;
}

label.error, .has-error {
	color: red;
	font-style: italic
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#dvPreview
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
	margin-top: 5px;
	min-height: 100px;
	min-width: 100px;
	display: none;
}

#dvPreview img
{
	width: 100px;
	height: 100px;
}

.quantity{
	margin-right: 2px;
}

/*footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover {
    background-color: orangered;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoInstagram:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a {
    background-color: #fff;
}
